<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h1> In memory</h1>
<body>
<div>

<div>
    <ul>
        {% for employee in employees %}
            <li>
                <div>
                    {{ employee.first_name }} {{ employee.last_name }}
                </div>
                <div>
                    in <a href="{{ employee.department.get_absolute_url }}">{{ employee.department.name }}</a>

                </div>
                <div>
                    Age: {{ employee.age }}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

</div>
</body>
</html>