{% extends 'common/base.html' %}
{% block content %}

    <body>
    <div id="container">
        <header id="site-header">

            <!-- Navigation -->
            <nav class="navbar">
                <section class="navbar-dashboard">
                    <a href="{% url 'home page' %}">Dashboard</a>
                    <div id="user">
                        <span>Welcome, Peter</span>
                        <a class="button" href="{% url 'add book page' %}">Add Book</a>
                        <a class="button" href="{% url 'profile page' %}">Profile</a>
                    </div>
                </section>
            </nav>
        </header>

        <!-- Edit Profile Page -->
        <section id="edit-profile-page" class="edit">
            <form id="edit-form" action="#" method="post">
                <fieldset>
                    <legend>Edit Profile</legend>
                    {{ form }}
                    <input class="button submit" type="submit" value="Edit">
                    {% csrf_token %}
                </fieldset>
            </form>
        </section>
    </div>
    </body>
{% endblock %}
