{% extends 'common/base.html' %}
{% block content %}
    <body>
    <div id="container">
        <header id="site-header">

            <!-- Navigation -->
            <nav class="navbar">
                <section class="navbar-dashboard">
                    <a href="{% url 'home page' %}">Dashboard</a>
                    <div id="user">
                        <span>Welcome, {{ profile.first_name }}</span>
                        <a class="button" href="{% url 'add book page' %}">Add Book</a>
                        <a class="button" href="{% url 'profile page' %}">Profile</a>
                    </div>
                </section>
            </nav>
        </header>

        <!-- Profile Page -->
        <section id="profile-page" class="details">
            <div class="profile-information">
                <h3>{{ profile.first_name }} {{ profile.last_name }}</h3>
                <p class="img"><img src="{{ profile.image_url }}" alt=""></p>
                <div class="actions">
                    <a class="button" href="{% url 'edit profile page' %}">Edit</a>
                    <a class="button" href="{% url 'delete profile page' %}">Delete</a>
                </div>
            </div>
        </section>
    </div>
    </body>
{% endblock %}

